<html>
<head>
	<title>Edit This Tiger</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h3 class='title'>Edit This Tiger Name</h3>
	<div class='edit_body'>
		<form>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Name</label>
		    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">New Information</label>
		    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">New Birthday</label>
		    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
		  </div>
		</form>
	</div>
</body>
</html>