<html>
<head>
	<title>List of Tigers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class= 'Heading'>
		<a href="">Create A New Tiger</a>
	</div>
	<div class= 'tigers'>
		<h3>Here are the List of Tigers</h3>
		<p>Name: <a href="">Benny</a></p>
		<p>Info: Bengal tiger from Nairobi </p>
		<p>Birthday: 10/21/1992</p></br>

		<p>Name: <a href="">Jorge</a></p>
		<p>Info: Angry tiger from Kenya </p>
		<p>Birthday: 10/21/1991</p></br>

		<p>Name: <a href="">Jordan</a></p>
		<p>Info: Angry tiger from Uganda </p>
		<p>Birthday: 10/21/1994</p></br>
	</div>
</body>
</html>